<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key><string>Fieldwork</string>
  <key>CFBundleDisplayName</key><string>Fieldwork</string>
  <key>CFBundleIdentifier</key><string>local.fieldwork.security-research</string>
  <key>CFBundleVersion</key><string>46</string>
  <key>CFBundleShortVersionString</key><string>0.37.0</string>
  <key>CFBundleExecutable</key><string>Fieldwork</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleIconFile</key><string>Fieldwork</string>
  <key>LSMinimumSystemVersion</key><string>13.0</string>
  <key>NSHighResolutionCapable</key><true/>
  <key>NSPrincipalClass</key><string>NSApplication</string>
</dict>
</plist>
